/* Colors */
$primary-white: #fff;
$primary-black: #292929;
$primary-light-gray: #ccc;
$primary-dark-gray: #aaa;
$primary-darkest-gray: #888;
$primary-action-color: #aaa;

/* Fonts */
$default-font-family: 'Arimo', sans-serif;
$default-font-size: 16px;
$default-font-color: $primary-black;
$h1-font-size: 24px;
$h2-font-size: 18px;

/* Borders */
$border-color: $primary-black;
$border: solid 1px $border-color;
$border-radius: 2px;

/* Block Elements */
$default-margin: 0;
$default-padding: 0;

/* Headers */
$h1-margin: 0 0 8px 0;

/* Form Elements */
$form-element-padding: 8px;

/* Inputs */
$input-height: 40px;
$input-background-color: $primary-white;
$input-placeholder-color: $primary-light-gray;
$label-font-size: 12px;

/* Selects */
$select-height: 40px;
$option-height: 40px;
$option-bg-color: $primary-white;
$option-hover-bg-color: $primary-light-gray;

/* Buttons */
$button-padding: 0 16px;
$primary-button-height: 40px;
$primary-button-color: $primary-white;
$primary-button-bg-color: $primary-action-color;
$primary-button-hover-bg-color: $primary-darkest-gray;
$primary-button-border: 0;

/* Element Defaults */
body, section, div, p, ul, ol, li, a, h1, h1, h3, h4, button {
  margin: $default-margin;
  padding: $default-padding;
  font-family: $default-font-family;
}

h1 {
  margin-bottom: $h1-margin;
  font-size: $h1-font-size;
}