@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin box-shadow($depth) {
  box-shadow: 0 0 $depth rgba(0, 0, 0, .12), 0 $depth $depth rgba(0, 0, 0, .24);
}